language: python
dist: xenial
sudo: required
python:
 - "3.7"
addons:
  apt:
    sources: ['ubuntu-toolchain-r-test']
    packages: ['bash', 'coreutils']
cache:
  directories:
    - /home/travis/.cache/pip
env:
  global:
  - BOTO_CONFIG: "/dev/null"
before_install:
  - pip install pipenv==2018.11.26
jobs:
  include:
    - stage: Build
      script:
        - python setup.py build
    - stage: Unit Tests
      script:
        - python setup.py test
    - stage: Install
      script:
        - python setup.py install
        - which cloud-secrets
        - python -c 'from cloudsecrets.gcp import Secrets'
