{% extends 'base.html' %}
{% block content %}
    <div class="container mt-3">
        <h1>Cloudsnap Analytics</h1>
        <input class="form-control" id="myInput" type="text" placeholder="Search Criteria"
               onkeyup="console.log('search')">
        <br>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Entity</th>
                <th>Name</th>
                <th>Timestamp</th>
                <th>Url</th>
                <th>Instance</th>
                <th>Actions</th>
                <th>Runbook</th>
            </tr>
            </thead>
            <tbody id="myTable">
            {% for paused_job in paused_jobs %}
                <tr id="{{ paused_job.entity }}">
                    <td>{{ paused_job.entity }}</td>
                    <td>{{ paused_job.name }}</td>
                    <td>{{ paused_job.timestamp }}</td>
                    <td>
                        <a target="_blank" rel="noopener noreferrer" href={{ paused_job.url }}>Here</a>
                    </td>
                    <td>
                        <a target="_blank" rel="noopener noreferrer" href={{ paused_job.instance }}>Here</a>
                    </td>
                    <td>
                        <div class="btn-group ">
                            <button id="retry-button" class="btn btn-success has-spinner"
                                    onclick="console.log('retry')">
                                <span class="spinner"><i class="icon-spin icon-refresh"></i></span>
                                Retry
                            </button>
                            <button id="dismiss-button" class="btn btn-danger has-spinner"
                                    onclick="console.log('dismiss')">
                                <span class="spinner"><i class="icon-spin icon-refresh"></i></span>
                                Dismiss
                            </button>
                        </div>
                    </td>
                   <td>
                        <a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/document/d/1-6Skmt1HGmUjYpClL2v5HH8I7vofeFcTgADsjE5-QUo/edit?usp=sharing">Here</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if paused_jobs.has_other_pages %}
        <ul class="pagination">
            {% if paused_jobs.has_previous %}
                <li><a href="?page={{ paused_jobs.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in paused_jobs.paginator.page_range %}
                {% if paused_jobs.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if paused_jobs.has_next %}
                <li><a href="?page={{ paused_jobs.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <script>
        $("#myTable").on("click", "#dismiss-button", function () {
            $(this).closest("tr").remove();
        });
    </script>
    <script>
        $("#myTable").on("click", "#retry-button", function () {
            var tr = $(this).closest("tr");

            tr.remove();
        });
    </script>
{% endblock %}
